<%= bootstrap_form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <h4 class="mb-3">Booking Information</h4>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
          <%= label_tag 'booking_start_time', 'Start Time' %>
          <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
              <%= form.text_field_without_bootstrap :start_time, value: form.object.start_time ? form.object.start_time.strftime('%B %d, %Y %I:%M %p') : nil, class:"form-control datetimepicker-input", data:{target:"#datetimepicker1"} %>
              <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
              </div>
          </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
          <%= label_tag 'booking_end_time', 'End Time' %>
          <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
              <%= form.text_field_without_bootstrap :end_time, value: form.object.end_time ? form.object.end_time.strftime('%B %d, %Y %I:%M %p') : nil, class:"form-control datetimepicker-input", data:{target:"#datetimepicker2"} %>
              <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= form.select :room_id, options_for_select(Room.all.map{|u|[u.name + " (Capacity: "+u.capacity.to_s+")", u.id]}) %>
    </div>
    <div class="col">
      <%= form.text_field :title %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form.text_area :description %>
    </div>
  </div>
  <hr class="mb-4">
  <%= form.submit "Create Booking" , class:"btn btn-primary btn-lg btn-block" %>
<% end %>

<script type="text/javascript">
  $(function () {
      $('#datetimepicker1').datetimepicker({
        format: 'MMMM D, YYYY h:mm A',
        stepping: 10,
        locale: 'en',
        minDate: Date(),
        maxDate: new Date(Date.now() + (365 * 24 * 60 * 60 * 1000)),
        sideBySide: true
      });

      $('#datetimepicker1').on('change.datetimepicker', ({date, oldDate}) => {
        console.log(date)
        console.log(oldDate)
        
        var enddate = $('#datetimepicker2').datetimepicker('date')
        if (enddate == null) {
          $('#datetimepicker2').datetimepicker('date',new Date(date + (60 * 60 * 1000)));
        }
        console.log(enddate)
        
      })

      $('#datetimepicker2').on('change.datetimepicker',({date, oldDate}) => {
        console.log(date.format())
        var starttime = $('#datetimepicker1').datetimepicker('date').format()

        $.post("/bookings/search", {"start_time": starttime, "end_time": date.format()}).done(function(data){
            console.log(data)
            $('#booking_room_id').empty()
            for(var i in data) {
              var id = data[i].id
              var title = data[i].name
              var capacity = data[i].capacity
              var option = title + "( Capacity: "+capacity+")"
              $('#booking_room_id').append(new Option(option, id))
            }
        })
      })

      $('#datetimepicker2').datetimepicker({
        currentDate: false,
        format: 'MMMM D, YYYY h:mm A',
        stepping: 10,
        locale: 'en',
        minDate: Date(),
        maxDate: new Date(Date.now() + (365 * 24 * 60 * 60 * 1000)),
        sideBySide: true
      });
  });
  $.fn.datetimepicker.Constructor.Default = $.extend({},
          $.fn.datetimepicker.Constructor.Default,
          { icons:
                  { time: 'fas fa-clock',
                      date: 'fas fa-calendar',
                      up: 'fas fa-arrow-up',
                      down: 'fas fa-arrow-down',
                      previous: 'fas fa-arrow-circle-left',
                      next: 'fas fa-arrow-circle-right',
                      today: 'far fa-calendar-check-o',
                      clear: 'fas fa-trash',
                      close: 'far fa-times' } });
</script>