<% content_for :page_specific_js do %>
  <%= javascript_pack_tag 'booking', 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for :avoid_default_main do %>
    <div class="container">
        <div class="py-5 text-center">
            <%= image_tag "tanzu-bug.svg", class: "d-block mx-auto mb-4", width: "72", height: "72" %>
            <h2>Edit Booking</h2>
            <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
        </div>
        
        <%= bootstrap_form_with(model: @booking, local: true) do |form| %>
            <% if @booking.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
          
                <ul>
                  <% @booking.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            
            <h4 class="mb-3">Booking Information</h4>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <%= label_tag 'booking_start_time', 'Start Time' %>
                  <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                      <%= form.text_field_without_bootstrap :start_time, value: form.object.start_time ? form.object.start_time.strftime('%B %d, %Y %I:%M %p') : nil, class:"form-control datetimepicker-input", data:{target:"#datetimepicker1"} %>
                      <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <%= label_tag 'booking_end_time', 'End Time' %>
                  <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                      <%= form.text_field_without_bootstrap :end_time, value: form.object.end_time ? form.object.end_time.strftime('%B %d, %Y %I:%M %p') : nil, class:"form-control datetimepicker-input", data:{target:"#datetimepicker2"} %>
                      <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                      </div>
                  </div>
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <%= form.select :room_id, options_for_select(Room.all.map{|u|[u.name, u.id]}, selected:  @booking.room.id ) %>
              </div>
              <div class="col">
                <%= form.text_field :title %>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <%= form.text_area :description %>
              </div>
            </div>
            <hr class="mb-4">
            <%= form.submit "Save Booking" , class:"btn btn-primary btn-lg btn-block" %>
          <% end %>
          
    </div>
<% end %>

<%= link_to 'Show', @booking %> |
<%= link_to 'Back', bookings_path %>

<script type="text/javascript">
  $(function () {
      $('#datetimepicker1').datetimepicker({
        format: 'MMMM D, YYYY h:mm A',
        stepping: 10,
        locale: 'en',
        maxDate: new Date(Date.now() + (365 * 24 * 60 * 60 * 1000)),
        sideBySide: true
      });

      $('#datetimepicker2').datetimepicker({
        format: 'MMMM D, YYYY h:mm A',
        stepping: 10,
        locale: 'en',
        maxDate: new Date(Date.now() + (365 * 24 * 60 * 60 * 1000)),
        sideBySide: true
      });
  });
  $.fn.datetimepicker.Constructor.Default = $.extend({},
          $.fn.datetimepicker.Constructor.Default,
          { icons:
                  { time: 'fas fa-clock',
                      date: 'fas fa-calendar',
                      up: 'fas fa-arrow-up',
                      down: 'fas fa-arrow-down',
                      previous: 'fas fa-arrow-circle-left',
                      next: 'fas fa-arrow-circle-right',
                      today: 'far fa-calendar-check-o',
                      clear: 'fas fa-trash',
                      close: 'far fa-times' } });
</script>