<% content_for :avoid_default_main do %>
  <div class="container">
    <p id="notice"><%= notice %></p>

    <h1>Upcoming Bookings</h1>

    <%= link_to 'New Booking', new_booking_path, class: "btn btn-primary mb-4 mt-2"%>
    <button id="all-booking" class="btn btn-secondary mb-4 mt-2">Show All Bookings</button>
    <button id="upcoming-booking" style="display:none" class="btn btn-secondary mb-4 mt-2">Upcoming Bookings</button>
    <div id="top-booking" class="row">
      <% if @top3_user_bookings.length > 0 %>
        <% @top3_user_bookings.each do |booking| %>
        <div class="col align-items-stretch">
          <div class="card text-center">
            <div class="card-header">
              <h5><%= booking.title %></h5>
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= booking.room.name %></h5>
              <p class="card-text"><%= booking.description %></p>
              <p class="card-text"><%= booking.start_time.strftime('%F(%A)') %>  <%= booking.start_time.strftime("%I:%M %p") %> - <%= booking.end_time.strftime("%I:%M %p") %> </p>
            </div>
            <div class="card-footer text-muted text-right">
              <%= link_to 'Edit', edit_booking_path(booking), class:"btn btn-info mr-2" %>
              <%= link_to 'Cancel', booking, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-danger" %>
            </div>
          </div>
        </div>
        <% end %>
      <% else %>
      <div class='col text-center'>
          <h5> You currently have no bookings made. Get started by creating a New Booking!</h5>
      </div>
      <% end %>
    </div> 
    <div id="user-booking-list" style="display:none">
      <table id="user-booking-dtable" class="table table-striped table-bordered mt-4" style="width:100%;">
        <thead>
          <tr>
            <th>Booking Date</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Room</th>
            <th>User</th>
            <th>Title</th>
            <th>Actions</th>
          </tr>
        </thead>
        
        <tbody>
          <% @user_bookings.each do |booking| %>
            <tr>
              <td><%= booking.start_time.strftime('%F(%A)') %></td>
              <td><%= booking.start_time.strftime("%I:%M %p") %></td>
              <td><%= booking.end_time.strftime("%I:%M %p") %></td>
              <td><%= booking.room.name %></td>
              <td><%= booking.user.username %></td>
              <td><%= booking.title %></td>
              <td>
                <%= link_to booking, class: "p-2", style: "text-decoration:none" do %>
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.93 4.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                  </svg>
                  <% end %>
                <%= link_to edit_booking_path(booking), class: "p-2", style: "text-decoration:none" do %>
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="#ffc107" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg>
                <% end %>
                <%= link_to booking, method: :delete, data: { confirm: 'Are you sure?' }, class: "p-2", style:"text-decoration:none" do %>
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="#dc3545" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                  </svg>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
    
    <br>
    <hr class="mb-4">
    <%= month_calendar(events: @bookings)  do |date, bookings| %>
      <%= date %>

      <% bookings.each do |booking| %>
        <% if current_user.id == booking.user_id %>
        <div class="alert alert-success">
        <% else %>
        <div class="alert alert-secondary">
        <% end %>
          <%= link_to booking.room.name + ": " + booking.start_time.strftime("%I:%M %p") + "-" + booking.end_time.strftime("%I:%M %p") + " (" + booking.user.username + ")", booking %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>