<% content_for :avoid_default_main do %>
<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>List of Users</h1>

  <%= link_to 'Create User', new_user_path, class: "btn btn-primary mb-4 mt-2" %>
  
  <table class="table table-striped" >
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Username</th>
        <th colspan="2" class="text-center">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.email %></td>
          <td><%= user.username %></td>
          <td><%= link_to 'Edit', edit_user_path(user), class: "btn btn-warning" %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>

<% end %>
