<% content_for :avoid_default_main do %>
  <div class="container">

    <h1>Meeting Rooms</h1>

    <p class="text-success" id="notice"><%= notice %></p>

    <%= render 'form', room: @new_room %>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Capacity</th>
          <th colspan="2" class="text-center">Actions</th>
        </tr>
      </thead>
    
      <tbody>
        <% @rooms.each do |room| %>
          <tr>
            <td><%= room.name %></td>
            <td><%= room.capacity %></td>
            <td><%= link_to 'Edit', edit_room_path(room), class: "btn btn-warning"%></td>
            <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <br>

  </div>
<% end %>

