<!DOCTYPE html>
<html>
  <head>
    <title>GovtechApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <%= link_to 'Tanzu Booking', root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <% if logged_in? %>
          <li class="nav-item active">
            <%= link_to 'Bookings', bookings_path, class: "nav-link" %>
          </li>
          <% end %>
          <% if false %>
          <li class="nav-item">
            <a class="nav-link" href="#">Booking <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
          <% end %>
          <% if logged_in? && administrator? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <%= link_to 'Booking', '/bookings', class: 'dropdown-item' %>
              <%= link_to 'Users', '/users', class: 'dropdown-item' %>
              <%= link_to 'Rooms', '/rooms', class: 'dropdown-item'%>
            </div>
          </li>
          <% end %>
        </ul>
        <div class="my-2 my-lg-0">
          <% if logged_in? %>
          <%= link_to 'Logout', '/logout', class: "btn btn-secondary my-2 my-sm-0 navbar-item" %>
          <% end %>
        </div>
      </div>
    </nav>

    
    <%= yield :avoid_default_main %>
    <main role="main" class="container">
      <div class="starter-template">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
